@import "src/app/shared/styles/variables/colors";

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  background-color: $color-white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);

  // Styling for another approach(passing content and wrapper through app.component.html)
  // :host ::ng-deep &__login-content {
  //   display: flex;
  //   justify-content: space-between;
  // }

  &__user-wrapper {
    display: flex;
    align-items: center;

    & button {
      margin-left: 0.5rem;
    }
  }
}
