<button
  [type]="buttonType"
  [disabled]="isDisabled"
  class="app-button"
  (click)="onClick($event)"
>
  <!-- Replace the text below with your code -->
  <ng-container
    *ngIf="buttonText && buttonText != 'Default text'; else ng_content"
  >
    {{ buttonText }}
  </ng-container>
  <ng-template #ng_content>
    <ng-content></ng-content>
  </ng-template>

  <fa-icon *ngIf="iconName" [icon]="iconName"></fa-icon>
</button>
