@import "src/app/shared/styles/variables/colors";

$color-hover: #016486;
$color-active: #016586b4;
$color-focus: #26687e;

.app-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 36px;
  gap: 10px;
  background: $color-blue;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  width: 100%;
  border: none;

  &:hover {
    background: $color-hover;
  }

  &:focus {
    background-color: $color-focus;
  }

  &:active {
    background: $color-active;
  }

  &__single-icon {
    padding: 13px;
  }

  & .ng-fa-icon {
    &:hover {
      color: $color-hover;
    }

    &:active {
      color: $color-active;
    }

    &:focus {
      color: $color-focus;
    }
  }

  // Disabled state

  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
}
