@import "src/app/shared/styles/styles";

.registration-form {
  width: 260px;
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & input {
    &.ng-untouched {
      border: 1px solid #cfcfcf;
    }

    &.ng-invalid.ng-touched {
      border-color: #ff0000;
    }

    &.ng-valid {
      border-color: #5cb85c;
    }
  }

  & .text-danger {
    line-height: 2;
  }
}

.form {
  &__authors-wrapper {
    display: flex;

    &--left {
      width: 60%;
      & label {
        margin-bottom: 4px;
      }
    }
    &--right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 40%;
    }
  }

  &__login-link {
    & a {
      font-weight: bold;
    }
  }

  &__control--password {
    position: relative;
    & input {
      padding-right: 2rem;
    }
  }
}

:host ::ng-deep .form__control--password app-button button {
  background: transparent !important;
  position: absolute;
  top: 33px;
  right: 5px;
  width: fit-content;
  padding: 0.3rem;

  & .ng-fa-icon {
    color: #777;
  }
}
