<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <form [formGroup]="registrationForm" class="registration-form">
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <!--Use the name `name` for the form control.-->
        <input
          formControlName="name"
          type="text"
          id="name"
          placeholder="Input text"
        />
        <span
          *ngIf="
            name?.errors?.['required'] &&
            name?.touched
          "
          [@inOutAnimation]
          id="nameErrorMessage"
          class="text-danger"
          >Name is required.</span
        >
        <span
          *ngIf="name?.errors?.['minlength']"
          [@inOutAnimation]
          id="nameMinErrorMessage"
          class="text-danger"
          >Minimum 6 charachters.</span
        >
      </div>
      <div class="form__control">
        <!--Use the name `email` for the form control.-->
        <label for="email">Email</label>
        <input
          formControlName="email"
          emailValidator
          type="text"
          id="email"
          placeholder="Input text"
        />
        <span
          *ngIf="email?.errors?.['required'] && email?.touched"
          [@inOutAnimation]
          id="emailErrorMessage"
          class="text-danger"
          >Email is required.</span
        >
        <span
          *ngIf="
          email?.errors?.['emailInvalid'] && 
          !email?.errors?.['required'] && 
          email?.touched 
        "
          [@inOutAnimation]
          id="emailValidErrorMessage"
          class="text-danger"
          >Enter valid email.</span
        >
      </div>
      <div class="form__control form__control--password">
        <!--Use the name `password` for the form control.-->
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          id="password"
          placeholder="Input text"
          appTogglePassword
          #toggle="appTogglePassword"
        />
        <div *ngIf="toggle.isPasswordVisible; else passwordHidden">
          <app-button
            [buttonType]="'button'"
            (btnClick)="toggle.togglePasswordVisibility()"
            [iconName]="['fas', 'eye']"
          />
        </div>
        <ng-template #passwordHidden>
          <app-button
            [buttonType]="'button'"
            (btnClick)="toggle.togglePasswordVisibility()"
            [iconName]="['fas', 'eye-slash']"
          />
        </ng-template>
        <span
          *ngIf="
            !registrationForm.get('password')?.valid &&
            registrationForm.get('password')?.touched
          "
          [@inOutAnimation]
          id="passwordErrorMessage"
          class="text-danger"
          >Password is required.</span
        >
      </div>
    </div>
    <div class="form__action">
      <app-button (btnClick)="onSubmit()">Login</app-button>
    </div>
    <p class="form__login-link">
      If you have an account you may
      <a routerLink="/login">Login</a>
    </p>
  </form>
</div>
