<div class="course-card">
  <div class="course-card__description">
    <!-- Replace ::text:: with your code -->
    <div class="course-card__description-title">{{ title }}</div>
    <div class="course-card__description-text">{{ description }}</div>
  </div>
  <div class="course-card__info">
    <div class="course-card__info-text">
      <div>
        <b>Authors: </b>
        <ng-container *ngFor="let author of authors; let isLast = last">
          {{ author }}{{ isLast ? "" : "," }}
        </ng-container>
      </div>
      <div>
        <b>Duration: </b
        ><span class="course-card__duration">{{ duration | duration }}</span>
      </div>
      <div>
        <b>Created: </b
        ><span class="course-card__date">{{ creationDate | customDate }}</span>
      </div>
    </div>
    <div class="course-card__info-actions">
      <app-button
        (btnClick)="onClickShow()"
        [buttonText]="'show course'"></app-button>
      <div *ngIf="editable" class="course-card__buttons">
        <!--Enter your code here-->
        <ng-content />
      </div>
    </div>
  </div>
</div>
