@import "src/app/shared/styles/styles";

// .page-title {
//   margin: 1rem 0;
// }

.edit-create-course {
  background-color: #fff;
  width: 80vw;
  //   height: 60vh;
  padding: 2rem 5rem;
  border-radius: 4px;
  border: 1px solid #cfcfcf;

  & ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
  }
}

.form {
  & input {
    &.ng-untouched {
      border: 1px solid #cfcfcf;
    }

    &.ng-invalid.ng-touched {
      border-color: #ff0000;
    }

    &.ng-valid {
      border-color: #5cb85c;
    }
  }
  & label {
    font-size: 0.9rem;
  }
  &__control {
    margin-bottom: 1rem;
  }

  &__duration-wrapper {
    display: flex;
    align-items: center;
    width: 55%;
  }

  &__time {
    margin: 0;
    white-space: nowrap;
    & span {
      font-weight: bold;
      margin-left: 1rem;
    }
  }

  &__authors-wrapper {
    display: flex;

    &--left {
      width: 60%;
      & label {
        margin-bottom: 4px;
      }
    }
    &--right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 40%;
    }
  }

  &__authors-list {
    & li {
      display: flex;
      align-items: center;
    }
  }

  &__author-btn-wrapper {
    display: flex;

    & input {
      margin-top: 0;
      margin-right: 1rem;
    }
  }
}

:host ::ng-deep .form__authors-list li app-button button {
  background: transparent;
  color: #333;
  padding: 5px;
  padding-bottom: 0;

  &:hover,
  &:focus {
    background: transparent;
  }
}

:host ::ng-deep app-button:first-child {
  margin-right: 1rem;
}

.course-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}
