<h2 class="page-title">Course Edit/Create Page</h2>
<div class="edit-create-course">
  <form [formGroup]="editCreateForm" class="form form--edit-create">
    <div>
      <h3 class="form__title" style="margin-top: 0">Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <input
          type="text"
          formControlName="title"
          name="title"
          id="title"
          placeholder="Input text"
        />
        <span
          *ngIf="title?.touched"
          id="nameErrorMessage"
          class="text-danger"
          >{{ handleError(title, "Title") }}</span
        >
      </div>
      <div class="form__control">
        <label for="description">Description</label>
        <textarea
          name="description"
          formControlName="description"
          id="description"
          placeholder="Input text"
          cols="30"
          rows="5"
        ></textarea>
        <span
          *ngIf="description?.touched"
          id="nameErrorMessage"
          class="text-danger"
          >{{ handleError(description, "Description") }}</span
        >
      </div>
      <h3 class="form__title">Duration</h3>
      <div class="form__control form__control--duration">
        <label for="title">Duration</label>
        <div class="form__duration-wrapper">
          <div>
            <input
              name="duration"
              formControlName="duration"
              type="text"
              id="duration"
              placeholder="Input text"
            />
            <span
              *ngIf="duration?.touched"
              id="nameErrorMessage"
              class="text-danger"
              >{{ handleError(duration, "Duration") }}</span
            >
          </div>
          <p class="form__time"><span>00:00</span> hours</p>
        </div>
      </div>
      <div class="form__authors-wrapper" formGroupName="newAuthor">
        <div class="form__authors-wrapper--left">
          <h3 class="form__title">Authors</h3>
          <div class="form__control">
            <label for="title">Author name</label>
            <div class="form__author-btn-wrapper">
              <input
                type="text"
                formControlName="author"
                name="author"
                id="author"
                placeholder="Input text"
              />
              <span
                *ngIf="author?.touched"
                id="nameErrorMessage"
                class="text-danger"
                >{{ handleError(author, "Author") }}</span
              >
              <app-button (btnClick)="onAddAuthor()">Create Author</app-button>
            </div>
          </div>
          <div class="form__control">
            <h4 class="form__title">Authors List</h4>
            <ul class="form__authors-list" formArrayName="authors">
              <li *ngFor="let author of authors.controls; let i = index">
                Author
                {{ author.value }}
                <app-button
                  (btnClick)="onDeleteAuthor(i)"
                  [iconName]="['fas', 'trash']"
                />
              </li>
            </ul>
          </div>
        </div>
        <div class="form__authors-wrapper--right">
          <h3 class="form__title">Course Authors</h3>
          <ul class="form__course-authors-list">
            <li>Author list is empty</li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="course-actions">
  <app-button>Cancel</app-button>
  <app-button (btnClick)="onSubmit()">Create Course</app-button>
</div>
