<h2 class="text-align-center">Login</h2>
<div class="app-plate">
  <form #loginForm="ngForm" (ngSubmit)="onLogin()">
    <div class="login-form">
      <div>
        <div class="form__control">
          <label for="email">Email</label>
          <!--Use the name `email` for the form control.-->
          <input
            #emailControl="ngModel"
            name="email"
            [ngModel]="email"
            required
            emailValidator
            type="text"
            id="email"
            placeholder="Input text"
          />
          <span
            *ngIf="
              emailControl?.errors?.['required'] && 
              emailControl.touched || 
              (loginForm.submitted && emailControl?.errors?.['required'])
            "
            [@inOutAnimation]
            id="emailErrorMessage"
            class="text-danger"
            >Email is required.</span
          >
          <span
            *ngIf="
              emailControl?.errors?.['emailInvalid'] && 
              !emailControl?.errors?.['required'] && 
              emailControl.touched 
            "
            [@inOutAnimation]
            id="emailValidErrorMessage"
            class="text-danger"
            >Enter valid email.</span
          >
        </div>
        <div class="form__control form__control--password">
          <label for="password">Password</label>
          <!--Use the name `password` for the form control.-->
          <input
            #passwordControl="ngModel"
            name="password"
            [ngModel]="password"
            required
            type="password"
            id="password"
            placeholder="Input text"
            appTogglePassword
            #toggle="appTogglePassword"
          />

          <div *ngIf="toggle.isPasswordVisible; else passwordHidden">
            <app-button
              [buttonType]="'button'"
              (btnClick)="toggle.togglePasswordVisibility()"
              [iconName]="['fas', 'eye']"
            />
          </div>
          <ng-template #passwordHidden>
            <app-button
              [buttonType]="'button'"
              (btnClick)="toggle.togglePasswordVisibility()"
              [iconName]="['fas', 'eye-slash']"
            />
          </ng-template>
          <span
            *ngIf="
              (!passwordControl.valid && passwordControl.touched) ||
              (loginForm.submitted && !passwordControl.valid)
            "
            [@inOutAnimation]
            id="passwordErrorMessage"
            class="text-danger"
            >Password is required.</span
          >
        </div>
      </div>
      <div>
        <div class="form__action">
          <app-button [buttonText]="'Login'"></app-button>
        </div>
        <div class="form__text">
          If you don't have an account you may
          <strong><a routerLink="/register">Registration</a></strong>
        </div>
      </div>
    </div>
  </form>
</div>
