<!-- Replace ::text:: with your code -->
<div class="title">{{ course.title }}</div>
<div class="course-info">
  <div class="course-info__description">{{ course.description }}</div>
  <div class="course-info__info">
    <div>
      <b>ID: </b><span class="course-info__info-id">{{ course.id }}</span>
    </div>
    <div>
      <b>Duration: </b
      ><span class="course-info__info-duration">{{
        course.duration | duration
      }}</span>
    </div>
    <div>
      <b>Created: </b
      ><span class="course-info__info-date">{{
        course.creationDate | customDate
      }}</span>
    </div>
    <div>
      <b>Authors: </b
      ><span class="course-info__info-authors">
        <ng-container *ngFor="let author of course.authors; let isLast = last">
          {{ author }}{{ isLast ? "" : "," }}
        </ng-container>
      </span>
    </div>
  </div>
</div>
<div class="navigation-block">
  <!--Enter your code here-->
  <app-button buttonText="Back" (btnClick)="onNavigateBack()" />
</div>
