<app-header>
  <p style="margin-right: 1rem">Harry Potter</p>
  <app-button [buttonText]="'Login'" />
</app-header>
<div class="app-root">
  <!-- Search component -->
  <!-- <app-search></app-search> -->

  <!-- Info component -->
  <!-- <app-info
    title="Your list is empty"
    text="Please use 'Add New Course' button to add your first course"
  ></app-info> -->

  <!-- Course Card component -->
  <!-- <app-course-card [editable]="true">
    <app-button [iconName]="['fas', 'trash-can']" />
    <app-button [iconName]="['fas', 'pen']" />
  </app-course-card> -->

  <!-- Courses List -->
  <!-- <app-courses-list [editable]="true"></app-courses-list> -->

  <!-- Course Info -->
  <!-- <app-course-info [course]="mockCourses[0]"></app-course-info> -->

  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!-- <app-registration-form></app-registration-form> -->

  <!-- Login Form component -->
  <!-- <app-course-form></app-course-form> -->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
  <router-outlet></router-outlet>
</div>
