/* You can add global styles to this file, and also import other style files */
$color-white: #fff;
$color-gray: #cfcfcf;
$color-red: #ff0000;

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f7f7f7;
  color: #333e48;
  height: 100%;
  // overflow-x: hidden;
}

input,
textarea {
  width: 100%;
  padding: 12px 16px;
  display: inline-block;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 4px;
  resize: none;
  font-family: "Open Sans", sans-serif;
}

input:invalid,
textarea:invalid {
  border-color: $color-red;
}

label {
  font-weight: bold;
  font-size: 16px;
}

h2 {
  margin-bottom: 36px;
}
