<ul class="courses-list">
  <li *ngFor="let course of coursesMock">
    <app-course-card [editable]="editable">
      <app-button
        (btnClick)="onDeleteCourse($event)"
        [iconName]="['fas', 'trash-can']"
      />
      <app-button
        (btnClick)="onEditCourse($event)"
        [iconName]="['fas', 'pen']"
      />
    </app-course-card>
  </li>
</ul>
