@import "src/app/shared/styles/styles";

.course {
  min-width: 60vw;

  &__authors-list {
    & li {
      margin-bottom: 0.5rem;
    }
  }

  &__author {
    margin-right: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & input {
      flex: 1;

      &.ng-untouched {
        border: 1px solid #cfcfcf;
      }

      &.ng-invalid.ng-touched {
        border-color: #ff0000;
      }

      &.ng-valid {
        border-color: #5cb85c;
      }
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__authors {
    margin-top: 8px;
    display: flex;

    &-item {
      margin-right: 10px;
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }

  & ul {
    list-style: none;
    padding-left: 0;

    li {
      display: flex;
      align-items: center;
    }
  }

  &-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}

.form {
  &__control {
    & input {
      &.ng-untouched {
        border: 1px solid #cfcfcf;
      }

      &.ng-invalid.ng-touched {
        border-color: #ff0000;
      }

      &.ng-valid {
        border-color: #5cb85c;
      }
    }

    #author {
      &.ng-valid.ng-untouched {
        border-color: #cfcfcf;
      }
    }
  }
  &__authors-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
  &__time {
    margin: 0;
    white-space: nowrap;
    & span {
      font-weight: bold;
      margin-left: 1rem;
    }
  }
}

:host ::ng-deep .course__authors-list li app-button {
  margin-right: 0.5rem !important;
  & button {
    background: transparent;
    color: #333;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;

    &:hover,
    &:focus {
      background: transparent;
    }
  }
}

:host ::ng-deep app-button:first-child {
  margin-right: 1rem;
}
