<!-- Replace ::text:: with your code -->
<h2>Create / Edit Course</h2>
<form [formGroup]="courseForm">
  <div class="app-plate">
    <div class="course">
      <h3>Main Info</h3>
      <div class="form__control">
        <label for="title">Title</label>
        <!--Use the name `title` for the form control.-->
        <input
          type="text"
          formControlName="title"
          id="title"
          placeholder="Input text" />
        <span
          *ngIf="title?.touched"
          id="titleErrorMessage"
          class="text-danger"
          >{{ handleError(title, "Title") }}</span
        >
      </div>
      <div class="form__control">
        <label for="description">Description</label>
        <!--Use the name `description` for the form control.-->
        <textarea
          formControlName="description"
          id="description"
          name="description"
          placeholder="Input text"
          rows="4"
          cols="5"></textarea>
        <span
          *ngIf="description?.touched"
          id="descriptionErrorMessage"
          class="text-danger"
          >{{ handleError(description, "Description") }}</span
        >
      </div>
      <div class="separator"></div>
      <h3>Duration</h3>
      <div class="form__control">
        <div class="course__flex">
          <!--Use the name `duration` for the form array.-->
          <input
            type="number"
            formControlName="duration"
            id="duration"
            placeholder="Input duration" />
          <div class="course__duration">
            <p class="form__time"><span>00:00</span> hours</p>
          </div>
        </div>
        <span
          *ngIf="duration?.touched"
          id="durationErrorMessage"
          class="text-danger"
          >{{ handleError(duration, "Duration") }}</span
        >
      </div>
      <div class="form__authors-container">
        <div class="form__authors-wrapper">
          <h3>Authors</h3>
          <div class="form__control">
            <div class="course__flex" formGroupName="newAuthor">
              <!--Use the name `author` for the form control.-->
              <input
                type="text"
                formControlName="author"
                id="author"
                placeholder="Input Author Name" />
              <app-button
                [buttonType]="'button'"
                (btnClick)="onAddAuthor()"
                id="createAuthor"
                >Create Author</app-button
              >
            </div>
            <span
              *ngIf="author?.touched"
              class="text-danger"
              id="authorErrorMessage"
              >{{ handleError(author, "Author") }}</span
            >
            <div class="course__authors">
              <!--Use the name `authors` for the form array.-->
              <ul class="course__authors-list" formArrayName="authors">
                <li *ngFor="let author of authors.controls; let i = index">
                  <p class="course__author">
                    Author
                    {{ author.value.name }}
                  </p>
                  <app-button
                    [buttonType]="'button'"
                    (btnClick)="onAddAuthorToCourse(author, i)"
                    [iconName]="['fas', 'plus']" />
                  <app-button
                    [buttonType]="'button'"
                    (btnClick)="onRemoveAuthor(i)"
                    [iconName]="['fas', 'trash']" />
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="form__courses-wrapper">
          <h3 class="form__title">Course Authors</h3>
          <ng-container
            *ngIf="courseAuthors!.controls!.length > 0; else showEmpty">
            <ul class="course__authors-list" formArrayName="courseAuthors">
              <li
                *ngFor="
                  let courseAuthor of courseAuthors.controls;
                  let i = index
                ">
                <p class="course__author">
                  Author
                  {{ courseAuthor.value.name }}
                </p>
                <app-button
                  [buttonType]="'button'"
                  (btnClick)="onRemoveAuthorFromCourse(courseAuthor, i)"
                  [iconName]="['fas', 'trash']" />
              </li>
            </ul>
          </ng-container>
          <ng-template #showEmpty>
            <p>Author list is empty</p>
          </ng-template>
        </div>
      </div>
      <div class="separator"></div>
    </div>
  </div>
</form>
<div class="course-actions">
  <app-button>Cancel</app-button>
  <app-button (btnClick)="onCreateCourse()">Create course</app-button>
</div>
