<div class="app-search">
  <form #searchForm="ngForm" class="search-form">
    <input
      #searchControl="ngModel"
      name="searchInput"
      [ngModel]="searchInput"
      type="text"
      [placeholder]="placeholder"
    />
    <app-button (btnClick)="onSearch($event)">Search</app-button>
  </form>
</div>
